  .row {
    height: 35px;
  }
  
  .cell {
    width: 35px;
    height: 35px;
    outline: 1px solid rgb(255, 255, 255);
    display: inline-block;
    
  }
  
  @keyframes specialNodes {
    0% {
      transform: scale(.3);
      /*background-color: darkslategrey;*/
    }
  
    50% {
      transform: scale(1.2);
      /*background-color: darkslategrey;*/
    }
  
    100% {
      transform: scale(1.0);
      /*background-color: darkslategrey;*/
    }
  }
  
  .cell-green {
    background-color: green;   
  }
  
  .cell-red {
    background-color: red;
    animation-name: specialNodes;
    animation-duration: 1.0s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
  }
  
  .cell-purple {
    background-color: purple;
    animation-name: specialNodes;
    animation-duration: 1.0s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
  }